<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/liste.css">
    <title>Liste</title>
</head>
<body>
  <%- include('../views/partials/navbar.ejs') %>
    <div class="container">
        <div class="content">
            <section class="tableau" id="stock">
                <h2>Liste des participants</h2>  
              </section> 
              
             <section class="two-section">
               
                
                <section class="table__body" >
    
                    <% if (resultat =='') { %>
                        <div class="empty">
                        <p>Aucun Participants inscrits pour l'instant !</p>
                        </div>
                        <% } else if (resultat ){%>
                           
                    <table>
                        <thead>
            
                            <tr>
                                
                                <th > Nom </th>
                                <th > Premons </th>
                                <th > Adresse Email</th>
                                <th  >Numero téléphonique</th>
        
                            </tr>
                           
                        </thead>
                        <% resultat.forEach(function(liste){ %>
                        <tbody>
                            
                            <tr >
                               
                                <td ><%= liste.nom %> </td>
                                <td><%= liste.prenom %> </td>
                                <td> <%= liste.email %> </td>
                                <td><%= liste.numero %> </td>
                               
                            </tr>
                         
                            
                           
                        </tbody>
                        <% }); %>
                    </table>
                  
                    <% } %>
                </section>
             </section>
        </div>
       
    </div>
  
    
</body>
</html>